@font-face {
    font-family: 'Monument_Valley_1.2';
    src: url("../../assets/fonts/mntv.woff") format('woff');
    font-weight: 100;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background-color: rgb(255, 255, 255, 0.2);
    ;
    border-radius: 10px;
}

body {
    font-family: 'Monument_Valley_1.2';
    font-family: "Tajawal", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: -.1em;
    word-spacing: .2em;
    margin: 0;
    background-color: #000610;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.7);
    border-radius: 0px;
}

.glow {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 20px #ffffff, 0 0 40px;
}

.sticker-section {
    width: 10000px;
    height: 450px;
    margin-top: 400px;
    overflow: hidden;
    scale: 2;
    background: url("./assets/images/StickersBanner.svg") repeat;
    animation: loopSlide 70s linear infinite;
}

@keyframes loopSlide {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-1000px);
        /* The image width */
    }
}

.sticker-section img {
    width: 110%;
}

.about-section .back {
    width: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
}

.about-section {
    /* background-image: url("./assets/images/Background2.png"); */
    background-color: hsla(0, 0%, 0%, 0.25);
    /* width: 100%; */
    /* height: 1300px; */
    padding-top: 1vw;
}

.desc-image {
    width: 100%;
    display: flex;
    margin: 5px;
}

.desc-image.inv {
    justify-content: right !important;
}

.desc-image.inv>img {
    margin-right: 23px;
}

.desc-image>img {
    width: 100%;
    display: flex;
    align-self: center;
}

.about-section-parent-wrapper {
    /* padding-left: 18vw;
    padding-right: 18vw; */
    max-width: 1500px;
    margin: auto;
}

.subtitle-wrapper {
    font-family: 'Monument_Valley_1.2';
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: -150px;
    margin-bottom: 150px;
    /* padding-top: 10vw; */
    /* animation: slidein 1s ease-in-out; */
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    gap: 5%;
    padding-top: 10vw;
    /* animation: slidein 1s ease-in-out; */
}

.about-wrapper h1 {
    font-family: 'Monument_Valley_1.2';
    margin: 0;
    font-size: 8em;
    letter-spacing: -.02em;
    font-weight: 100;
}

.inv+h1 {
    text-align: right;
    margin-right: 15px;
}

.about-wrapper h2 {
    margin: 0;
    font-size: 1.7em;
    font-weight: 100;
}

.about-wrapper .inv {
    text-align: right;
}

.awards {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* animation: slidein 1s ease-in-out; */
    gap: 12%;
}

.awards img {
    width: 26%;
}

.slides {
    padding: 0;
    width: 70%;
    height: 1200px;
    display: block;
    margin: 0 auto;
    margin-top: 350px;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 96pt;
    text-align: center;
    line-height: 1000%;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover+.nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked+.slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 22px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6 {
    background: rgba(112, 112, 112, 0.8);
}

.slider-container {
    max-width: 100%;
    /* max-height: 20vh; */
    margin: 0;
    /* padding: 2rem; */
}

.slider-wrapper {
    position: relative;
    /* max-width: 48rem; */
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/6;
    overflow-x: auto;
    /* overflow: hidden; */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider::-webkit-scrollbar {
    padding-top: 5px;
    background-color: rgb(222, 222, 222);
    height: 6px;
}

.slider::-webkit-scrollbar-thumb {
    background-color: rgb(77, 77, 77);
}

.slider-nav .scrollbar-track {}

.slider-nav a {
    opacity: 1;
}

.space {
    flex-grow: 1;
}

i {
    transition: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1 {
    /* visibility: hidden; */
}


/* NAVBAR */

.main-header {
    /* transform: translateY(-50%); */
    /* animation: slidein-header 1s; */
}

@keyframes slidein-header {
    from {
        transform: translateY(100%);
        /* margin-top: 0vw; */
        opacity: 0;
    }
    to {
        transform: translateY(-50%);
        /* margin-top: -14vw; */
        opacity: 1;
    }
}

#header {
    /* background: red; */
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 10;
}

#steam-header {
    font-family: 'Monument_Valley_1.2';
    position: fixed;
    top: 0px;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0);
    z-index: 10;
}

#steam-header>#nav-bar {
    /* background-color: #1a1e22; */
    /* background: linear-gradient(0deg, rgb(131 128 128 / 26%) 0%, rgb(52 52 52 / 53%) 45%, rgb(0 0 0 / 0%) 100%); */
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgba(51, 51, 51, 0.5);
    background-color: #1a1e22; */
    background: #000000;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 1) 100%); */
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 45%, rgb(44 44 44 / 92%) 100%); */
    filter: drop-shadow(-1px 0px 73px #5d5d5d8c);
    /* color: white; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    /* font-size: x-large; */
}

#steam {
    font-size: 2.7rem !important;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
}

.mobile-only {
    display: none !important;
}

@media only screen and (max-width: 1000px) {
    .not-mobile {
        display: none;
    }
    .mobile-only {
        display: flex !important;
    }
    .desc-image.inv>img {
        margin-right: 0px;
    }
    .desc-image>img {
        height: 300px;
        object-fit: cover;
    }
    #header {
        width: 100vw;
    }
    #nav-bar li a {
        content: "";
        margin-top: 10px;
        font-size: 0px;
    }
    #steam-header {
        display: none;
        top: 60px;
        /* position: absolute; */
        /* top: 90vh; */
        width: 70vw;
        font-size: 0px !important;
        /* animation-duration: 4s;
        animation-name: slidein;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; */
    }
    #steam {
        font-size: 1.5rem !important;
        margin-top: 2px !important;
        margin-bottom: 2px;
    }
    i {
        font-size: 1.7rem;
    }
    .space {
        flex-grow: 1;
    }
    #press-kit {
        display: none !important;
    }
    .subtitle-wrapper {
        font-size: .6em !important;
        letter-spacing: 2.5px;
        text-align: center;
        padding: .5em;
    }
    .bannerVideo {
        top: 17%;
        height: 62%;
        -webkit-mask-image: none !important;
        mask-image: none !important;
        -webkit-mask-repeat: initial !important;
        mask-repeat: initial !important;
        -webkit-mask-position: initial !important;
        mask-position: initial !important;
        -webkit-mask-size: initial !important;
        mask-size: initial !important;
    }
    .videoControls {
        top: 12% !important;
        width: 100% !important;
        gap: 5px !important;
    }
    .awards img {
        width: 60%;
    }
    .awards {
        gap: 5px;
        /* width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: -50px;
            margin-bottom: 100px;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center; */
        /* animation: slidein 1s ease-in-out; */
    }
    .slides {
        height: 500px;
        margin-top: 50px;
        width: 100%;
    }
    input:checked+.slide-container .nav label {
        opacity: 0;
    }
    .about-section .back {
        width: 500%;
    }
    .about-wrapper {
        margin-top: 80px;
        align-items: start;
        flex-direction: column;
        /* animation: c 1s ease-in-out; */
    }
    .about-wrapper-opposite {
        align-items: end;
        flex-direction: column-reverse;
    }
    .desc-image {
        margin: 0;
    }
    .about-wrapper h1 {
        font-weight: 100;
        font-size: 5em;
        margin-left: .05em;
    }
    .about-wrapper h2 {
        font-weight: 100;
        font-size: 1.4em;
        margin: 13px;
    }
    .trailer-section {
        margin-top: 100px !important;
        padding-bottom: 0px !important;
    }
    .trailer-section h2 {
        font-size: 2em !important;
        height: 290px !important;
    }
    .trailer-section iframe {
        height: 300px !important;
        width: 100vw !important;
    }
    .sticker-container {
        width: 100%;
        overflow: hidden;
    }
    .sticker-section {
        margin-top: 100px;
        width: 5000px;
        scale: 1.2;
    }
}

#nav-bar li a {
    transition: .2s ease-in-out;
}

#nav-bar li a:hover {
    font-weight: 300;
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.118);
}

.bannerContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    animation: slidein 1s ease-in-out;
}

.playButton {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.45);
    /* darker transparent for contrast */
    /* border-radius: 50%; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease, transform 0.15s ease;
}

.playButton i {
    font-size: 36px;
    color: white;
}

.bannerVideo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    /* width: 70%; */
    height: 82%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 2;
    /* Fade edges */
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.bannerContainer::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    /* Strong fade all edges */
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}


/* Optional hover effect */

.playButton:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) scale(1.05);
}

.videoControls {
    position: absolute;
    top: 12%;
    width: 70%;
    z-index: 5;
    display: flex;
    /* justify-content: space-between; */
    padding: 0 20px;
    pointer-events: auto;
    flex-direction: row-reverse;
    gap: 30px;
    /* transition: .6 ease-in-out; */
}

.videoControls i {
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    /* border-radius: 6px; */
    /* opacity: 0; */
    opacity: 0;
    transition: all 0.5s ease;
    transition: transform 0.2s ease;
}

.videoControls i:hover {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.607);
    transform: scale(1.2);
}

#banner {
    width: 100%;
    display: flex;
    align-self: center;
    margin-top: -100px;
    /* display: block; */
}

.a {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
}

.b {
    background-color: aliceblue;
    width: 105px;
}

.wish {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: transparent; */
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Font */
    height: 200px;
    width: 40%;
    /* Font */
    border-radius: 10px;
    border-width: 0;
    /* Font */
    font-size: 80px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    /* Font */
    /* animation-duration: 1s; */
    /* animation-name: slidein; */
    /* transition: .1s; */
    /* animation-fill-mode: forwards; */
    /* animation-timing-function: ease-in-out; */
    /* Font */
    font-family: 'Monument_Valley_1.2';
    src: url("../../assets/fonts/mntv.woff") format('woff');
}


/* PC */


/* @media only screen and (min-width: 1000px) {


} */

#logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation-duration: 1s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
    margin-top: -15vw;
    margin-bottom: 150px;
    transform: translate(-.3vw, 0px);
}


/* MOBILE */

@media only screen and (max-width: 1000px) {
    #banner {
        width: 260%;
        margin-left: 2%;
        margin-top: 20%;
        animation: fadein 2s;
    }
    #logo {
        opacity: 1;
        margin-top: -35%;
        animation: none;
        width: 90%;
    }
    @keyframes fadein {
        from {
            /* margin-top: 0vw; */
            opacity: 0;
        }
        to {
            /* margin-top: -14vw; */
            opacity: 1;
        }
    }
}


/* BANNERS */

.banner2 {
    width: 100%;
    /* z-index: 0; */
}

.trailer-section {
    background-image: url(./assets/images/Background2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-top: 250px;
    padding-top: 10px;
    padding-bottom: 150px;
    /* margin-top: -40vw; */
    /* margin-top: -800px; */
}

.trailer-section iframe {
    width: 80vw;
    height: 60vh;
    z-index: 1;
    max-width: 1500px;
    margin-bottom: 200px;
}

.trailer-section h2 {
    background-color: #C0A92D;
    font-family: 'Monument_Valley_1.2';
    font-weight: 200;
    width: 100%;
    height: 330px;
    text-align: center;
    opacity: 1;
    font-size: 5em;
    margin: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-bottom: -230px;
}

@media only screen and (max-width: 1000px) {
    .banner2 {
        height: 600px;
        width: auto;
        /* z-index: 0; */
    }
    .banner2-container {
        display: flex;
        justify-content: center;
    }
    .player {
        margin-top: -130vw;
    }
    .player iframe {
        width: 90vw;
        height: 400px;
        z-index: 10;
    }
}


/* ANIMATIONS*/

footer {
    height: 100px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.1rem;
    text-align: center;
    width: 100%;
}

footer a {
    color: rgb(171, 171, 171);
    text-decoration: none;
}

footer h2 {
    font-size: 2rem;
    opacity: .8;
}

@media only screen and (max-width: 1000px) {
    footer {
        margin-top: 130px;
        margin-bottom: 20px;
    }
    footer h2 {
        font-size: 1.3rem;
    }
    .scrollTopBtn {
        bottom: 19px !important;
        right: 22px !important;
        padding: 8px 13px !important;
        background: rgba(255, 255, 255, 0.1) !important;
        color: white !important;
        font-size: 25px !important;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* press Layout */

.center-press {
    margin: auto;
    margin-top: -40px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    align-content: center;
    max-width: 800px;
    text-align: justify;
    /* background-color: rgba(255, 255, 255, 0.056); */
}

.center-press>img {
    width: 500px;
}

.scrollTopBtn {
    position: fixed;
    bottom: 38px;
    right: 38px;
    z-index: 900;
    padding: 12px 15px;
    border: none;
    /* border-radius: 8px; */
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 29px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.2s ease;
}

.scrollTopBtn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.2);
}

.scrollTopBtn.show {
    opacity: 1;
    pointer-events: auto;
}